.flexbox {
  display: flex;
  flex-direction: row;
}

body > div {
  align-items: stretch;
  height: 800px;
}

.panel {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  flex-direction: column;
  align-items: stretch;
  min-width: 260px;
  max-width: 260px;
}

.panel > div {
  margin-left: 10px;
}

.panelTitle {
  font-size: 20px;
  font-weight: 700;
}

#layersInput {
  flex-direction: column;
  align-items: flex-start;
}

#layersInput * {
  cursor: pointer;
}

.inputIcon {
  height: 45px;
  width: 45px;
  padding: 2px;
  border: solid 1px #fff;
  border-radius: 3px;
  margin: 0 5px 0 5px;
  align-items: center;
  justify-content: center;
}

.inputIcon img {
  /* border: 1px green solid; */
  height: 70%;
  width: auto;
}

/* .inputIcon svg {
  border: 1px green solid;
} */

.inputIcon input {
  display: none;
  background-color: #f0f;
}

.inputIcon p {
  font-family: 'Courier New', Courier, monospace;
}

#borderColorInput {
  flex-wrap: wrap;
}

#borderWidthInput {
  align-items: center;
}

#borderWidthInput p {
  margin-left: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

#fillColorInput {
  flex-wrap: wrap;
}

#deleteInput {
  margin: 5px;
  /* border: 1px yellow solid; */
  justify-content: space-evenly;
  align-items: center;
}

#deleteInput button {
  width: 80px;
}

.workspace {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-left-style: none;
}

.workspace > * {
  width: 800px;
  height: 800px;
}

.pixelwise {
  border: none;
  position: absolute;
  z-index: 0;
}

.svg {
  border: none;
  z-index: 1;
  /* background-color: aqua; */
}